SECRET_KEY=supersecretkey123
DEBUG=True
DB_NAME=spotifydb
DB_USER=spotifyuser
DB_PASSWORD=spotifypass
DB_HOST=db
DB_PORT=5432
SERVICE_PORT=8002
SERVICE_NAME=core
AUTH_SERVICE_URL=http://auth:8001
COLLAB_SERVICE_URL=http://collaboration:8005
CORS_ALLOWED_ORIGINS=http://localhost,http://localhost:3000
